<a href="https://colab.research.google.com/github/RuthCMoreno/Diplomado_IA/blob/main/S3_C1_Datos_Primitivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Paso 1. Declaración de variables

In [2]:
## ZEN 2.  Explicit is better than implicit.
edad = 25            # Entero (int)
altura = 1.75        # Flotante (float)
nombre = "Carlos"    # Cadena de texto (string)
es_estudiante = True # Booleano (bool)

# Paso 2. Leer el tipo de Variable

In [3]:
# Para leer el tipo de la variable
type(edad)

int

In [4]:
type(altura)

float

In [ ]:
# Actividad 2. Imprima el tipo de las otras variables

In [5]:
type(nombre)

str

In [6]:
type(es_estudiante)

bool

# Paso 3. Convertir

para convertir se usa el tipo deseado y la variable en el parentesis:

* int(variable)
* float(variable)
* str(variable)

## Errores cómunes

*  int('a')
## Actividad
* Convierte la edad en un número flotante e imprímela.
* Convierte la altura en un número entero e imprímela.
* Convierte la edad en una cadena de texto e imprímela.
* Convierte el valor booleano es_estudiante en un número entero y en una cadena de texto, mostrando los resultados.

In [7]:
int('1')

1

In [8]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [10]:
edad

25

In [9]:
float(edad)

25.0

In [11]:
edad

25

In [15]:
int(altura)

1

In [16]:
altura

1.75

In [13]:
round(altura)

2

In [17]:
estado=0

In [18]:
bool(estado)

False