<a href="https://colab.research.google.com/github/RuthCMoreno/Diplomado_IA/blob/main/S4_C2_EDA_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA: Exploratory Data Analysis ( Análisis Exploratorio de Datos) Campañas de marketing

* AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise.
* AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise.
* AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise.
* AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise.
* AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise.
* Response (target): 1 if customer accepted the offer in the last campaign, 0 otherwise.
* Complain: 1 if customer complained in the last 2 years.
* DtCustomer: Date of customer’s enrollment with the company.
* Education: Customer’s level of education.
* Marital: Customer’s marital status.
* Kidhome: Number of small children in customer’s household.
* Teenhome: Number of teenagers in customer’s household.
* Income: Customer’s yearly household income.
* MntFishProducts: Amount spent on fish products in the last 2 years.
* MntMeatProducts: Amount spent on meat products in the last 2 years.
* MntFruits: Amount spent on fruit products in the last 2 years.
* MntSweetProducts: Amount spent on sweet products in the last 2 years.
* MntWines: Amount spent on wine products in the last 2 years.
* MntGoldProds: Amount spent on gold products in the last 2 years.
* NumDealsPurchases: Number of purchases made with a discount.
* NumCatalogPurchases: Number of purchases made using a catalog.
* NumStorePurchases: Number of purchases made directly in stores.
* NumWebPurchases: Number of purchases made through the company’s website.
* NumWebVisitsMonth: Number of visits to the company’s website in the last month.
* Recency: Number of days since the last purchase.
* Year_Birth:

* Education: Customer’s level of education.
* Marital: Customer’s marital status.
* Income: Customer’s yearly household income.
* Year_Birth:

In [ ]:
import pandas as pd  # Para el manejo de los datos
import numpy as np # Para el manejo de operaciones entre datos, y las columnas
import matplotlib.pyplot as plt # Para el manejo de las graficas
import seaborn as sns # Para el manejo de graficas

In [ ]:
df = pd.read_excel('/content/marketing_campaign.xlsx')
# para .csv  pd.read_csv('/content/marketing_campaign.xlsx')

In [ ]:
# Información del número
# Columnas: atributos, características
df.info()

In [ ]:
# Describe me entrega un resumen solo de los atributos númericos
# count= número de registros
# mean= promedio
# std = desviación
df.describe()

In [ ]:
# Qué tamaño tiene el data set?
df.shape

In [ ]:
# Qué categorías de educación?
print(df['Education'].unique())

## Observa: que hay 5 categorias en educación
## Un atributo categorico tiene clases finitas, siempre será del tipo object

In [ ]:
# Qué categorás de estado civil?
print(df['Marital_Status'].unique())

## Obseva: para esta civil hay 8 categorías
## YOLO: You Only Live Once

In [ ]:
# Qué edad tienen los clientes?

# tengo el atributo Año de Nacimiento : Year_Birth
# Debo crear un nuevo atributo calculado
from datetime import date
current_year = date.today().year
print(current_year)
df['Age'] = current_year - df['Year_Birth']

In [ ]:
# Shape entrega número de registros y atributos
df.shape

In [ ]:
df.info()

In [ ]:
df['Income'].hist()

In [ ]:
df.boxplot(column="Income", by="Education")

# Observación
* En los clientes el máximo ingreso son 100000 USD anules, menos para quienes tienen educación básica
*

In [ ]:
df.boxplot(column="Income", by="Age")

In [ ]:
df.boxplot(column="Income", by="Marital_Status")

In [ ]:
# Un atributo condicional
df['Age_Group'] = df['Age'].apply(lambda x: 'Children'     if x <= 16
                                  else (    'Youth'        if 17 <= x <= 30
                                  else (    'Middle Aged'  if 30 < x <=  45
                                  else       'Old'    )
))

In [ ]:
df.info()

In [ ]:
df.head(5)

In [ ]:
# Cuánto compró  cada cliente en los últimos  2 años?
df['Total_Income'] = df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + df['MntFishProducts'] + df['MntSweetProducts']