<a href="https://colab.research.google.com/github/RuthCMoreno/Diplomado_IA/blob/main/S4_C1_ListTuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Laboratorio: Listas y Tuplas en Python

## Objetivo
En este laboratorio, aprenderás sobre las estructuras de datos listas y tuplas en Python, su uso, ventajas y desventajas.
# --- Sección 1: Introducción a Listas ---

In [1]:
print("\n1. Introducción a Listas")

1. Introducción a Listas

In [2]:
# Definir una lista
elementos = [1, 2, 3, 4, 5]
print("Lista inicial:", elementos)

Lista inicial: [1, 2, 3, 4, 5]

In [ ]:
# Acceder a elementos
print("Primer elemento:", elementos[0])
print("Último elemento:", elementos[-1])

In [ ]:
# Modificar elementos
elementos[2] = 99
print("Lista modificada:", elementos)

In [ ]:
# Agregar elementos
elementos.append(6)
print("Lista después de agregar un elemento:", elementos)

In [ ]:
# Eliminar elementos
elementos.remove(99)
print("Lista después de eliminar un elemento:", elementos)

# --- Ejercicio 1 ---

In [ ]:
print("\nEjercicio 1: Crea una lista con los nombres de 3 frutas y luego agrega otra fruta a la lista.")

In [4]:
elementos2 = ["Mango", "Melocotón", "Frambuesa"]

In [5]:
print(elementos2)

['Mango', 'Melocotón', 'Frambuesa']

In [6]:
elementos2.append("Piña")

In [7]:
print(elementos2)

['Mango', 'Melocotón', 'Frambuesa', 'Piña']

In [8]:
#lista vacía
lista_vacia = []

In [9]:
lista_vacia.append(1)

In [10]:
print(lista_vacia)

[1]

In [ ]:
# --- Sección 2: Introducción a Tuplas ---
print("\n2. Introducción a Tuplas")

# Definir una tupla
mi_tupla = (10, 20, 30, 40, 50)
print("Tupla inicial:", mi_tupla)

In [11]:
mi_tupla = (10, 20, 30, 40, 50)

In [12]:
print("Tupla inicial:", mi_tupla)

Tupla inicial: (10, 20, 30, 40, 50)

In [ ]:
# Acceder a elementos
print("Segundo elemento:", mi_tupla[1])

# Intentar modificar (esto generará un error)
try:
    mi_tupla[1] = 99
except TypeError as e:
    print("Error al intentar modificar una tupla:", e)

In [13]:
# Intentar modificar (esto generará un error)
try:
    mi_tupla[1] = 99
except TypeError as e:
    print("Error al intentar modificar una tupla:", e)

Error al intentar modificar una tupla: 'tuple' object does not support item assignment

In [14]:
type(mi_tupla)

tuple

In [ ]:
# --- Sección 3: Conversión entre listas y tuplas ---
print("\n3. Conversión entre Listas y Tuplas")

# Convertir lista a tupla
tupla_convertida = tuple(elementos)
print("Lista convertida en tupla:", tupla_convertida)

# Convertir tupla a lista
lista_convertida = list(mi_tupla)
print("Tupla convertida en lista:", lista_convertida)

# --- Ejercicio 3 ---
print("\nEjercicio 3: Convierte una tupla de números en una lista y agrega un nuevo número a la lista.")

In [15]:
# --- Sección 3: Conversión entre listas y tuplas ---
print("\n3. Conversión entre Listas y Tuplas")

3. Conversión entre Listas y Tuplas

In [16]:
# Convertir lista a tupla
tupla_convertida = tuple(elementos)
print("Lista convertida en tupla:", tupla_convertida)

Lista convertida en tupla: ('Mango', 'Melocotón', 'Frambuesa')

In [17]:
# Convertir tupla a lista
lista_convertida = list(mi_tupla)
print("Tupla convertida en lista:", lista_convertida)

Tupla convertida en lista: [10, 20, 30, 40, 50]

In [18]:
# --- Ejercicio 3 ---
print("\nEjercicio 3: Convierte una tupla de números en una lista y agrega un nuevo número a la lista.")
mi_tupla2 = (1,34,5,76,8)

Ejercicio 3: Convierte una tupla de números en una lista y agrega un nuevo número a la lista.

In [19]:
#convierto tupla a lista
mi_lista2 = list(mi_tupla2)

In [20]:
#agrego elemento a mi_lista2
mi_lista2.append(767)
print (mi_lista2)

[1, 34, 5, 76, 8, 767]

In [ ]:
# --- Sección 4: Operaciones avanzadas con listas ---
print("\n4. Operaciones avanzadas con listas")

# Concatenación de listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_concatenada = lista1 + lista2
print("Lista concatenada:", lista_concatenada)

# --- Ejercicio 4 ---
print("\nEjercicio 4: Crea dos listas de nombres y concaténalas en una sola lista.")

In [21]:
print("\n4. Operaciones avanzadas con listas")

# Concatenación de listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_concatenada = lista1 + lista2
print("Lista concatenada:", lista_concatenada)

4. Operaciones avanzadas con listas
Lista concatenada: [1, 2, 3, 4, 5, 6]

In [22]:
# --- Ejercicio 4 ---
print("\nEjercicio 4: Crea dos listas de nombres y concaténalas en una sola lista.")
listaA = ['Olga', 'Juan', 'Pablo']
listaB = ['Iván', 'Camila', 'Mariana']
mi_lista_concatenada = listaA + listaB
print("Lista concatenada:", mi_lista_concatenada)

Ejercicio 4: Crea dos listas de nombres y concaténalas en una sola lista.
Lista concatenada: ['Olga', 'Juan', 'Pablo', 'Iván', 'Camila', 'Mariana']

In [23]:
# Listas anidadas
lista_anidada = [[1, 2, 3], [4, 5, 6]]
print("Lista anidada:", lista_anidada)

# --- Ejercicio 5 ---
print("\nEjercicio 5: Crea una lista anidada con los nombres de tres países y tres ciudades dentro de cada país.")

Lista anidada: [[1, 2, 3], [4, 5, 6]]

Ejercicio 5: Crea una lista anidada con los nombres de tres países y tres ciudades dentro de cada país.

In [40]:
division_politica = [
    ["Colombia", ["Bucaramanga", "Cali"]],
    ["Brasil", ["Rio de Janeiro", "Búzios"]],
    ["Italia", ["Florencia", "Turín"]]
    ]

In [41]:
print(division_politica)

[['Colombia', ['Bucaramanga', 'Cali']], ['Brasil', ['Rio de Janeiro', 'Búzios']], ['Italia', ['Florencia', 'Turín']]]

In [44]:
division_politica[1][1][1]

'Búzios'

In [45]:
# Extender listas
lista1.extend(lista2)
print("Lista extendida:", lista1)

# --- Ejercicio 6 ---
print("\nEjercicio 6: Crea una lista con 3 colores y extiéndela con otra lista de 2 colores adicionales.")

Lista extendida: [1, 2, 3, 4, 5, 6]

Ejercicio 6: Crea una lista con 3 colores y extiéndela con otra lista de 2 colores adicionales.

In [47]:
colores_primarios = ["amarillo","azul","rojo"]
colores_secundarios = ["verde","violeta","naranja"]

In [48]:
colores_primarios.extend(colores_secundarios)
print("Lista extendida:", colores_primarios)

Lista extendida: ['amarillo', 'azul', 'rojo', 'verde', 'violeta', 'naranja']

In [49]:
# División de cadenas en listas
cadena = "manzana,pera,uva"
lista_frutas = cadena.split(",")
print("Lista de frutas obtenida con split:", lista_frutas)

# --- Ejercicio 7 ---
print("\nEjercicio 7: Toma una cadena de palabras separadas por espacios y conviértela en una lista de palabras usando split.")

Lista de frutas obtenida con split: ['manzana', 'pera', 'uva']

Ejercicio 7: Toma una cadena de palabras separadas por espacios y conviértela en una lista de palabras usando split.

In [53]:
estudiantes = "Ana;Jaime;Claudia"
lista_estudiantes = estudiantes.split(";")
print("Lista de estudiantes obtenida con split:", lista_estudiantes)

Lista de estudiantes obtenida con split: ['Ana', 'Jaime', 'Claudia']

In [54]:
print("Longitud lista de estudiantes:", len(lista_estudiantes))

Longitud lista de estudiantes: 3